html, body, div, ul, li{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
.tabBox{
    margin-left: 40rem;
    width: 60rem;
    height: 50rem;
    margin-top: 5rem;
    flex-direction: column;
}

.tabBox ul{
    display: block;
    height: 3.1rem;
}
.tabBox ul li{
    float: left;
    list-style: none;
    width: 10rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    border: .1rem solid slategrey;
    border-bottom-width: 0;
    font-size: 1.5rem;
}
.tabBox ul li+li{
    margin-left: 1.2rem;
}
.tabBox ul li.select {
    background: powderblue;
    height: 3.1rem;
    line-height: 3.1rem;
    /*border-bottom: 1px solid powderblue;*/
}
.tabBox div{
    display: none;
    border: .1rem solid slategrey;
    font-size: 1.5rem;
}
.tabBox div.select{
    width: 60rem;
    height: 47rem;
    background-color: powderblue;
    text-align: center;
    display: block;
    line-height: 47rem;
}
